<?xml version="1.0" encoding="UTF-8"?>
<suite name="MarsAir test suite" parallel="false" verbose="3">
	<test name="Regression">
		<listeners>
			<listener class-name="listeners.TestNGListener" />
		</listeners>
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="tests.HomeTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->